@page
@model IndexModel
@{
    ViewData["Title"] = "Bem-vindo";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
    <p>Acesse as outras páginas para ter acesso à serviço.</p>
</div>
